* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(black, purple);
}

.zorg-main{
    display: block;
    margin: auto;
    width: 750px;
}

.explosion
{
   display: block;
   margin: auto;
   width: 800px;
}

p {
    font-size: 35px;
    color: white;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 100px;
}